<%- include("partials/header") %>

<h2>Student Full Details</h2>

<h4>Name: <%= student.name %></h4>
<h4>Roll: <%= student.roll %></h4>
<h4>Subject: <%= student.subject %></h4>
<h4>Marks: <%= student.marks %></h4>

<a href="/">Back</a>
<%- include("partials/footer") %>